.about-us {
  padding: 60px 0;
  display: flex;
}
.container {
  display: block;
}
// .description {
//   display: contents;
//   justify-content: space-between;
//   width: 490px;
//   height: 994px;
// }

.description__title {
  width: 270px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
}
.description__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.box__icons {
  width: 65px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .about-us {
    .container {
      flex-direction: column;
    }
  }
  .description__title {
    text-align: center;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
  .box__icons {
    width: 65px;
    height: 70px;
  }
  .description__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description {
    display: flex;
    flex-wrap: wrap;
  }
  .description__item {
    display: inline-block;
    gap: 30px;
    width: 354px;
    height: 251px;
    margin: auto;
  }

  .box {
    display: block;
    justify-content: space-between;
    // height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .about-us {
    padding: 94px 0;
  }
  .description {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 1170px;
    height: 251px;

    .description__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--title-text-color);
      margin-top: 30px;
    }

    .description__text {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: var(--primary-text-color);
      margin-top: 10px;
    }
  }

  .box {
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 25px 100px 25px 100px;

    .box__icons {
      width: 70px;
      height: 70px;
    }
  }
}
